@import "src/_mixins.scss";

.header{
  width: 100%;
  min-height: 72px;
  display: flex;
  align-items: center;
  &__content{
    @include contentLimiter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img{
      height: 24px;
    }
  }
  &__navigate__list{

  }
}

@media (hover: hover) {
  .header__navigate__list{
    .list__item:hover{
      a{
        color: #E7B000;
      }
    }
  }
}


@media (hover: none) {
  .header__navigate__list{
    .list__item:active{
      a{
        color: #E7B000;
      }
    }
  }

}

@media(width >= 832px ){
  .header__navigate{
    .header__navigate__burger-menu{
      display: none;
    }
  }
}

@media(width < 832px){
  .header__navigate__list{
      display: none;
  }
  .header__navigate__burger-menu{
    img{
      height: 30px;
    }
  }
}