@import "src/_mixins.scss";

.header{
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  &__content{
    @include contentLimiter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__navigate__list{
    li{
      font-size: 20px;
      font-weight: 500;
      a{
        color: #1F1800;
      }
    }
    display: flex;
    flex-direction: row;
    gap: 32px;

  }
}

