@import "src/_mixins.scss";

.footer{
  width: 100%;
  min-height: 128px;
  background-color: #1F1800;
  display: flex;
  align-items: center;
  &__content{
    @include contentLimiter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__list{

  }
}

@media(max-width: 832px){
  .footer__list{
      display: none;
  }
}